.menu-toggle {
  position: fixed;
  top: 40px;
  right: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  transition: opacity, right .22s ease-in;
  z-index: 100;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../img/btn--burger.svg");
  width: 30px;
  height: 30px;
  &:hover {
    opacity: .7;
  }
  &.opened {
    right: 340px;
    background-image: url("../../../img/btn--close.svg");
  }
}